<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="card" style="width: 300px;">
            <!-- Date Range Picker -->
            <div class="form-group mt-3">
                <label for="daterangepicker">Select Date Range:</label>
                <input type="text" class="form-control" id="daterangepicker">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Average availability aggregated per hour of the day</h2>
                <div class="fakeimg" style="height:300px; width: 950px;">Chart</div>
            </div>
            <div class="card">
                <h2>How many times per day have the charging stations been used?</h2>
                <div class="fakeimg" style="height:300px; width: 950px;">Chart</div>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Text</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>some text </p>
            </div>
            <div class="card">
                <h3>Text</h3>
                <div class="fakeimg">
                    <p>Image</p>
                </div>
                <div class="fakeimg">
                    <p>Image</p>
                </div>
                <div class="fakeimg">
                    <p>Image</p>
                </div>
            </div>
            <div class="card">
                <h3>Text</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

</body>

</html>



